body {
    font-family: 'Roboto', sans-serif;
    margin-top: 105px;
    height: 7000px;
}

.navbar-dark {
    height: 25px;
}

.brand {
    height: 18px;
}

.navbar-light {
    height: 60px;
}

.nav-link {
    color: black;
}

.dropdown {
    position: static;
}

.dropdown-menu.show {
    margin-top: 0;
    border: none;
    border-radius: 0;
    width: 100%;
}

#search-addon{
    font-size: 1.5em;
}

header {
    height: calc(100vh - 105px);
    background-image: url('../img/jumbo-bg.png');
    background-size: cover;
    background-position: center;
}

.header-image img {
    width: 100%;
} 

.header-row {
    gap: .8rem;
}

.bl_card img {
    border-radius: 1.3rem;
}

.ps5-image img {
    width: 100%;
}

.part5 {
    height: 100vh;
    background-image: url('../img/it-takes-two-hero-banner-desktop.jpg');
    background-size: cover;
    background-position: center;
}

.part5-image img{
    width: 100%;
}

.sc4_image {
    opacity: .8;
}

.sc6_text {
    padding: .8rem .4rem 2.5rem;
}

.plus {
    padding-bottom: 4rem;
}

@media screen and (max-width: 576px) {
    .sc7_card {
    padding-bottom: 5rem;
}
}

.sc7_text {
    padding-right: 5rem;
}

.part8 {
    background-color: rgb(195, 195, 195);
}

.part8-image {
    padding-top: 5rem;
}

.part8-banner img,
.part8-image img {
    width: 100%;
}

.play-plus-btn {
    background-color: rgb(217, 218, 220);
    color: rgb(49, 103, 229);
    border: none;
}

.part10 {
    background-color: rgb(22, 28, 59);
}

.part10-banner img,
.part10-image img {
    width: 100%;
}