body {
    font-family: 'Roboto', sans-serif;
    margin-top: 132px;
    height: 5000px;
}

.brand {
    height: 18px;
}

/* .btn {

} */

#search-addon{
    font-size: 1.5em;
}

header {
    height: calc(100vh - 132px);
    background-image: url('../img/jumbo-bg.png');
    background-size: cover;
    background-position: center;
}

.header-image img {
    width: 100%;
} 

.header-row {
    gap: .8rem;
}

.bl_card img {
    border-radius: 1.3rem;
}

.ps5-image img {
    width: 100%;
}

.part5 {
    height: 100vh;
    background-image: url('../img/it-takes-two-hero-banner-desktop.jpg');
    background-size: cover;
    background-position: center;
}

.part5-image img{
    width: 100%;
}

.sc4_image {
    opacity: .8;
}

.section6 {
    background-color: rgb(31, 31, 31);
}

.sc6_image {
    padding: .8rem .4rem 2.5rem;
}

.plus {
    padding-bottom: 4rem;
}