body {
    font-family: 'Roboto', sans-serif;
    margin-top: 132px;
    height: 2000px;
}

.brand {
    height: 18px;
}

/* .btn {

} */

#search-addon{
    font-size: 1.5em;
}

header {
    height: calc(100vh - 132px);
    background-image: url('../img/jumbo-bg.png');
    background-size: cover;
    background-position: center;
}

.header-image img {
    width: 100%;
} 

.header-row {
    gap: .8rem;
}

.bl_card img {
    border-radius: 1.3rem;
}

.ps5-image img {
    width: 100%;
}
